@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Prata&family=Sora:wght@100..800&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: white;
  --sectionColor: #151515;
  --FirstFontSize: 48px;
  --secondSectionHeading: 30px;
  --paraFont: 18px;
  --paraColor: #464748;
  --WhiteColor: white;
  --BlackColor: black;
  --brandColor: #931e95;
  margin: 0px;
  padding: 0px;
  font-family: "Prata", serif;
}
a{
  text-decoration: none;
}

.ContainerDefault {
  margin: 0px 70px;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

p {
  font-family: "Roboto", serif;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--paraColor);
}

li {
  font-family: "Roboto", serif;
  line-height: 30px;
}

.SectionPadding {
  padding: 2rem 0rem;
}

.CommonBtnStyle {
  text-transform: uppercase;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  transition: .5s;
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  background-color: var(--brandColor);
  color: white;
  cursor: pointer;
}

.CommonBtnStyle svg:first-child {
  transform: translateX(-50px) rotate(-45deg);
  /* Correct syntax: space, not comma */
  transition: transform 0.5s ease, font-size 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
  font-size: 0px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
}

.CommonBtnStyle:hover svg:last-child {
  transform: translateX(50px) rotate(-45deg);
  /* Correct syntax: space, not comma */
  transition: transform 0.5s ease, font-size 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
  font-size: 0px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
}

.CommonBtnStyle:hover svg:first-child {
  transform: translateX(0px) rotate(-45deg);
  /* Correct syntax: space, not comma */
  transition: transform 0.5s ease, font-size 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  color: black;
}

.CommonBtnStyle svg:last-child {
  transform: translateX(0px) rotate(-45deg);
  /* Correct syntax: space, not comma */
  transition: transform 0.5s ease, font-size 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
  font-size: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  color: black;
}


@media(min-width:1500px) and (max-width:4000px) {
  .ContainerDefault {
    margin: 0px 150px;
    max-width: 100%;
  }
}

@media (max-width:900px) {

  .ContainerDefault {
    margin: 0px 10px;
    max-width: 100%;
  }
}