.AboutUsComponentMainContainer {
    padding-top: 80px;
}

.AboutUsMainHeaderContainer {
    display: flex;
    justify-content: center;
}


.AboutUsMainHeaderContainer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.AboutUsMainHeaderContainer>div p {
    text-align: center;
    max-width: 650px;
}

.AboutUsContainer {
    margin-top: 92px;
}

.AboutUsMainHeaderContainer h1 {
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 68px;
    text-align: center;
    font-weight: 400;
    line-height: 1.11em;
    max-width: 767px;
    color: #383c5b;
    /* text-transform: uppercase; */
}

.TopAnimatedCommonBannerAllPages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TopAnimatedCommonBannerAllPages {
    height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;


}

.TopAnimatedCommonBannerAllPages>div {
    height: 100%;
    width: 100%;
}

.CounterCardContainer {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: .5s;
}

.CounterCardContainer:hover {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.463);
    transition: .5s;
    transform: scale(1.02);
    border-radius: 8px;
}


.CounterCardContainer {
    margin: 10px;
    padding: 20px;
}

.CompanyAnimatedNumbersContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.CompanyAnimatedNumbersContainer .ant-row {
    display: flex;
    justify-content: center;
}

.CounterCard h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.CounterCard p {
    text-align: center;
}

.CounterCard span {
    width: 100%;
    display: flex;
    justify-content: end;
}

.CounterCard span svg {
    font-size: 40px;
    color: #383c5b;
    fill: #383c5b;
}

.AboutImageContainer img {
    opacity: 0.2;
    width: 100%;
}

.AboutImageContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;

}

.AboutUsInfoContainer {
    width: 100%;
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.AboutContentContainerText {
    position: sticky;
    padding-top: 80px;
    padding-bottom: 120px;
}

.AboutContentContainerText h2 {
    font-size: var(--secondSectionHeading);
}

.TeamMemberCardContainer {
    margin: 10px;
    /* position: relative; */
    /* display: flex; */
    /* height: 400px;
    overflow: hidden; */
    transition: .5s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.TeamMemberCardContainer:hover {
    transform: scale(1.02);
    transition: .5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.TeamMemberCardContainer>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.TeamMemberCardContainer .hoverOverlayBlackContainer {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    width: 20%;
    height: 20%;
    background-color: transparent;
    transition: .5s;
}

.TeamMemberCardContainer:hover .hoverOverlayBlackContainer {
    background-color: rgba(0, 0, 0, 0.399);
    width: 100%;
    height: 100%;
    transition: .5s;
}


.TeamMemberCardContainer>div:first-child {
    display: flex;
    /* align-items: end; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 400px; */
    overflow: hidden;
    position: relative;
}

.TeamMemberCardContainer>div:last-child {
    /* width: 100%; */
    background-color: rgb(240, 240, 240);
    padding: 20px 20px;
}

.TeamMemberCardContainer>div h3 {
    margin-bottom: 7px;
    margin-top: 0px;
    /* transform: translate(8%) rotate(-90deg);; */
    /* margin: 0px; */

}

.TeamPeoplesContaner h2 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 0px;
    /* color: #071D96; */
    text-align: center;
}

.ant-modal-mask {
    backdrop-filter: blur(6px);
}

.ModalInsideInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 10px;
}

.ModalInsideInfo p {
    margin-top: 7px;
}