#NavigationBarContainer {
    padding: 0px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.251);
    height: 90px;
    max-width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
    background-color: var(--sectionColor);
    /* Smooth transition */
}

#NavigationBarContainer.hide {
    top: -90px;
    transition: .5s;
    /* Move the navbar up to hide it */
}

#NavigationBarContainer.show {
    top: 0;
    transition: .5s;
    /* Keep the navbar at the top when visible */
}

.NavigationBarMainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.NavigationLinksContainer {
    display: flex;
    gap: 20px;
}

.navButton {
    background: transparent !important;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    position: relative;
}

.navButton a {
    background-color: transparent !important;
}

.navButton:hover {
    color: var(--brandColor) !important;
}

.navButton:hover::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -30px;
    display: inline-block;
    background-color: white;
}

.menuButton {
    display: none;
    /* Hide menu button on desktop */
}

.ant-dropdown {
    padding-top: 26px;
}

.ant-dropdown-menu {
    padding: 20px !important;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
    padding: 10px 0px !important;
    font-size: 18px;
    transition: .5s;
}

.ant-dropdown-menu .ant-dropdown-menu-item:hover {
    transition: .5s;
    transform: translateX(10px);
    color: var(--brandColor) !important;
    background-color: transparent !important;
    font-weight: 600;
}

.ant-dropdown-menu-item {
    background-color: transparent !important;
}

.LogoContainer {
    display: flex;
    align-items: center;
}

.LogoContainer img {
    background: rgba(255, 255, 255, 0.827);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 150px;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .ant-drawer-body .ant-collapse {
        border: 0px solid transparent;
        background-color: transparent;
    }
    .ant-drawer-body .mobileNavHeaderLink{
        color: black;
    }

    .ant-collapse-content .ant-btn a{
        color: black;
    }
    .ant-drawer-body .ant-collapse:nth-child(2) .ant-collapse-item .ant-collapse-expand-icon{
      opacity: 1;
    }
    .ant-drawer-body .ant-collapse .ant-collapse-item .ant-collapse-expand-icon {
        opacity: 0;
    }

    .ant-drawer-body .ant-collapse:first-child .ant-collapse-content {
        display: none;
    }

    .ant-drawer-body .ant-collapse:nth-child(3) .ant-collapse-content,
    .ant-drawer-body .ant-collapse:nth-child(4) .ant-collapse-content {
        display: none;
    }

    .NavigationLinksContainer {
        display: none;
        /* Hide normal links on mobile */
    }

    .menuButton {
        display: block;
        /* Show menu button on mobile */
    }

    #NavigationBarContainer {
        padding: 0px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.251);
        height: 90px;
        max-width: 100%;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0;
        z-index: 100;
        transition: top 0.3s ease-in-out;
        background-color: var(--sectionColor);
        /* Smooth transition */
    }
}